/**--------------------------------------------------------
 * Logo
 *---------------------------------------------------------*/
.header__logo {
  height: 109px;
  overflow: hidden;
  h1 {
    margin: 0;
    overflow: hidden;
    max-width: 428px;
    margin: 0 auto;
    display: block;
  }
}